<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>类型模板管理</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../plugins/select2/select2.css" />
    <link rel="stylesheet" href="../plugins/select2/select2-bootstrap.css" />
    <script src="../plugins/select2/select2.min.js" type="text/javascript"></script>

	<link rel="stylesheet" href="../css/toastr.css">
	<script src="../js/toastr.min.js"></script>
	<script type="text/javascript" src="../plugins/angularjs/angular.min.js">  </script>
	<script src="../plugins/angularjs/pagination.js"></script>
	<link rel="stylesheet" href="../plugins/angularjs/pagination.css">

	<script type="text/javascript">
		(function ($) {
			window.Ewin = function () {
				var html = '<div id="[Id]" class="modal fade" role="dialog" aria-labelledby="modalLabel">' +
						'<div class="modal-dialog modal-sm">' +
						'<div class="modal-content">' +
						'<div class="modal-header">' +
						'<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>' +
						'<h4 class="modal-title" id="modalLabel">[Title]</h4>' +
						'</div>' +
						'<div class="modal-body">' +
						'<p>[Message]</p>' +
						'</div>' +
						'<div class="modal-footer">' +
						'<button type="button" class="btn btn-default cancel" data-dismiss="modal">[BtnCancel]</button>' +
						'<button type="button" class="btn btn-primary ok" data-dismiss="modal">[BtnOk]</button>' +
						'</div>' +
						'</div>' +
						'</div>' +
						'</div>';


				var dialogdHtml = '<div id="[Id]" class="modal fade" role="dialog" aria-labelledby="modalLabel">' +
						'<div class="modal-dialog">' +
						'<div class="modal-content">' +
						'<div class="modal-header">' +
						'<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>' +
						'<h4 class="modal-title" id="modalLabel">[Title]</h4>' +
						'</div>' +
						'<div class="modal-body">' +
						'</div>' +
						'</div>' +
						'</div>' +
						'</div>';
				var reg = new RegExp("\\[([^\\[\\]]*?)\\]", 'igm');
				var generateId = function () {
					var date = new Date();
					return 'mdl' + date.valueOf();
				}
				var init = function (options) {
					options = $.extend({}, {
						title: "操作提示",
						message: "提示内容",
						btnok: "确定",
						btncl: "取消",
						width: 200,
						auto: false
					}, options || {});
					var modalId = generateId();
					var content = html.replace(reg, function (node, key) {
						return {
							Id: modalId,
							Title: options.title,
							Message: options.message,
							BtnOk: options.btnok,
							BtnCancel: options.btncl
						}[key];
					});
					$('body').append(content);
					$('#' + modalId).modal({
						width: options.width,
						backdrop: 'static'
					});
					$('#' + modalId).on('hide.bs.modal', function (e) {
						$('body').find('#' + modalId).remove();
					});
					return modalId;
				}

				return {
					alert: function (options) {
						if (typeof options == 'string') {
							options = {
								message: options
							};
						}
						var id = init(options);
						var modal = $('#' + id);
						modal.find('.ok').removeClass('btn-success').addClass('btn-primary');
						modal.find('.cancel').hide();

						return {
							id: id,
							on: function (callback) {
								if (callback && callback instanceof Function) {
									modal.find('.ok').click(function () { callback(true); });
								}
							},
							hide: function (callback) {
								if (callback && callback instanceof Function) {
									modal.on('hide.bs.modal', function (e) {
										callback(e);
									});
								}
							}
						};
					},
					confirm: function (options) {
						var id = init(options);
						var modal = $('#' + id);
						modal.find('.ok').removeClass('btn-primary').addClass('btn-success');
						modal.find('.cancel').show();
						return {
							id: id,
							on: function (callback) {
								if (callback && callback instanceof Function) {
									modal.find('.ok').click(function () { callback(true); });
									modal.find('.cancel').click(function () { callback(false); });
								}
							},
							hide: function (callback) {
								if (callback && callback instanceof Function) {
									modal.on('hide.bs.modal', function (e) {
										callback(e);
									});
								}
							}
						};
					},
					dialog: function (options) {
						options = $.extend({}, {
							title: 'title',
							url: '',
							width: 800,
							height: 550,
							onReady: function () { },
							onShown: function (e) { }
						}, options || {});
						var modalId = generateId();

						var content = dialogdHtml.replace(reg, function (node, key) {
							return {
								Id: modalId,
								Title: options.title
							}[key];
						});
						$('body').append(content);
						var target = $('#' + modalId);
						target.find('.modal-body').load(options.url);
						if (options.onReady())
							options.onReady.call(target);
						target.modal();
						target.on('shown.bs.modal', function (e) {
							if (options.onReady(e))
								options.onReady.call(target, e);
						});
						target.on('hide.bs.modal', function (e) {
							$('body').find(target).remove();
						});
					}
				}
			}();
		})(jQuery);
	</script>

	<script type="text/javascript">
		toastr.options={"closeButton": false,
			"debug": false,
			"newestOnTop": false,
			"progressBar": false,
			"positionClass": "toast-top-center",
			"preventDuplicates": false,
			"onclick": null,
			"showDuration": "5000",
			"hideDuration": "1000",
		}

		var app = angular.module('pinyougou',['pagination']);
		app.controller('typeTemplateController',function($scope,$http) {
			//重新加载列表 数据
			$scope.reloadList = function () {
				//切换页码
				$scope.findPage($scope.paginationConf.currentPage, $scope.paginationConf.itemsPerPage);
			}

			//分页
			$scope.paginationConf = {
				currentPage: 1,
				totalItems: 10,
				itemsPerPage: 10,
				perPageOptions: [10, 20, 30, 40, 50],
				onChange: function(){
					$scope.reloadList();//重新加载
				}
			};

			//查询
			$scope.searchName="";
			$scope.findPage = function(page, rows) {
				console.log($scope.searchName);
				$http.get('../typeTemplate/selectPage.do?page='+page+'&rows='+rows+'&specName='+$scope.searchName).success(
						function(response){
							$scope.paginationConf.totalItems=response.total;
							$scope.list=response.rows;
						}
				);
			};

			//全选反选
			$scope.checked = [];
			$scope.selectAll = function () {
				if($scope.select_all) {
					$scope.checked = [];
					angular.forEach($scope.list, function (i) {
						i.id_check = true;
						$scope.checked.push(i.id);
					})
				}else {
					angular.forEach($scope.list, function (i) {
						i.id_check = false;
						$scope.checked = [];
					})
				}
				console.log($scope.checked);
			};

			//选择单个
			$scope.selectOne = function () {
				angular.forEach($scope.list , function (i) {
					var index = $scope.checked.indexOf(i.id);
					if(i.id_check && index === -1) {
						$scope.checked.push(i.id);
					} else if (!i.id_check && index !== -1){
						$scope.checked.splice(index, 1);
					}
				});

				if ($scope.list.length === $scope.checked.length) {
					$scope.select_all = true;
				} else {
					$scope.select_all = false;
				}
				console.log($scope.checked);
			};

			//函数转换
			$scope.jsonToString=function(jsonString,key){
				var json=JSON.parse(jsonString);//将json字符串转换为json对象
				var value="";
				for(var i=0;i<json.length;i++){
					if(i>0){
						value+=","
					}
					value+=json[i][key];
				}
				return value;
			};

			/*删除*/
			$scope.delAll = function(){
				var ids = $scope.checked.toString();
				console.log(ids);
				if(ids != null && ids != ''){
					Ewin.confirm({ message: "确认要删除选择的数据吗？" }).on(function (e) {
						if (!e) {
							$scope.select_all = false;
							$scope.reloadList();//重新加载
							return;
						}
						$http.post('../typeTemplate/deleteAll.do?ids='+ids).success(
								function(response){
									if(response.success){
										toastr.success(response.message);
									}else{
										toastr.error(response.message);
									}
									$scope.select_all = false;
									$scope.reloadList();//重新加载
								}
						);
					})
				}else{
					toastr.info("请至少选择一条数据进行删除！");
				}

			};

			$scope.brandList={data:[]};//品牌列表
			$scope.specList={data:[]};//规格列表
			//读取品牌列表
			$scope.findBrandList=function(){
				$http.get('../brand/selectOptionList.do').success(
						function(response){
							console.log(response);
							$scope.brandList={data:response};
						}
				);
				$http.get('../specification/selectOptionList.do').success(
						function(response){
							console.log(response);
							$scope.specList={data:response};
						}
				);
			};


			//新增选项行
			$scope.addTableRow=function(){
				$scope.entity.customAttributeItems.push({});
			};

			//删除选项行
			$scope.deleTableRow=function(index){
				$scope.entity.customAttributeItems.splice(index,1);//删除
			};

			//保存（新增/修改）
			$scope.save = function(){
				var methodName = "insert";
				if($scope.entity.id!=null){
					 methodName = "update";
				}
				$http.post('../typeTemplate/'+methodName+'TypeTemplate.do', $scope.entity).success(
						function(response){
							if(response.success){
								toastr.success(response.message);
							}else{
								toastr.error(response.message);
							}
							$scope.reloadList();//重新加载
						}
				);
			};

			/*回显*/
			$scope.queryOne = function(id){
				$http.get('../typeTemplate/selectOne.do?id='+id).success(
						function(response){
							console.log(response);
							$scope.entity=response;
							$scope.entity.brandIds=JSON.parse($scope.entity.brandIds);//转换品牌列表
							$scope.entity.specIds=JSON.parse($scope.entity.specIds);//转换规格列表
							$scope.entity.customAttributeItems= JSON.parse($scope.entity.customAttributeItems);//转换扩展属性
						}
				);
			}

		})
	</script>

	<script type="text/javascript" src="../plugins/select2/angular-select2.js">  </script>
</head>

<body class="hold-transition skin-red sidebar-mini" ng-app="pinyougou" ng-controller="typeTemplateController" ng-init="findBrandList()">
  <!-- .box-body -->
                
                    <div class="box-header with-border">
                        <h3 class="box-title">商品类型模板管理</h3>
                    </div>

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">

                            <!--工具栏-->
                            <div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" title="新建" data-toggle="modal" data-target="#editModal" ng-click="entity={customAttributeItems:[]}"><i class="fa fa-file-o"></i> 新建</button>
                                        <button type="button" class="btn btn-default" title="删除" ng-click="delAll()"><i class="fa fa-trash-o"></i> 删除</button>
                                       
                                        <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
                                    </div>
                                </div>
                            </div>
                            <div class="box-tools pull-right">
                                <div class="has-feedback">
							                  分类模板名称：<input  ng-model="searchName">
									<button class="btn btn-default" ng-click="reloadList()">查询</button>
                                </div>
                            </div>
                            <!--工具栏/-->

			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
			                              <th class="" style="padding-right:0px">
			                                  <input id="selall" type="checkbox"  ng-model="select_all" ng-change="selectAll()" class="icheckbox_square-blue">
			                              </th>
										  <th class="sorting_asc">模板ID</th>
									      <th class="sorting">分类模板名称</th>
									      <th class="sorting">关联品牌</th>
									      <th class="sorting">关联规格</th>									     
									      <th class="sorting">扩展属性</th>													     						
					                      <th class="text-center">操作</th>
			                          </tr>
			                      </thead>
			                      <tbody>
			                          <tr ng-repeat="entity in list">
			                              <td><input  type="checkbox"  ng-model="entity.id_check" ng-change="selectOne(entity.id)"></td>
				                          <td>{{entity.id}}</td>
									      <td>{{entity.name}}</td>
									      <td>{{jsonToString(entity.brandIds,'text')}}</td>
									      <td>{{jsonToString(entity.specIds,'text')}}</td>
									      <td>{{jsonToString(entity.customAttributeItems,'text')}}</td>
		                                  <td class="text-center">                                           
		                                 	  <button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal" ng-click="queryOne(entity.id)">修改</button>
		                                  </td>
			                          </tr>
			                      </tbody>
			                  </table>
			                  <!--数据列表/-->

							<!--放置分页-->
							<tm-pagination conf="paginationConf"></tm-pagination>
							 
                        </div>
                        <!-- 数据表格 /-->
                        

                     </div>
                    <!-- /.box-body -->
                    
	           
					    
                                
<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">商品类型模板编辑</h3>
		</div>
		<div class="modal-body">							
			
			<table class="table table-bordered table-striped"  width="800px">
		      	<tr>
		      		<td>商品类型</td>
		      		<td>
						<input type = "hidden" ng-model="entity.id">
						<input  class="form-control" ng-model="entity.name" placeholder="商品类型">  </td>
		      	</tr>			   
		      	<tr>
		      		<td>关联品牌</td>
		      		<td>
						<input select2  select2-model="entity.brandIds" config="brandList" multiple placeholder="选择品牌（可多选）" class="form-control" type="text"/>
					</td>
		      	</tr>
		      	<tr>
		      		<td>关联规格</td>
		      		<td>
						<input select2  select2-model="entity.specIds" config="specList" multiple placeholder="选择规格（可多选）" class="form-control" type="text"/>
		      		</td>
		      	</tr>	
		      	
		      	<tr>
		      		<td>扩展属性</td>
		      		<td>
		      			<div class="btn-group">
                             <button type="button" class="btn btn-default" title="新增扩展属性" ng-click="addTableRow()"><i class="fa fa-file-o"></i> 新增扩展属性</button>
                                                                    
                        </div>
						<table class="table table-bordered table-striped"  width="800px">
							<thead>
								<tr>
									<td>属性名称</td>
									<td>操作</td>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="pojo in entity.customAttributeItems">
									<td><input class="form-control" ng-model="pojo.text" placeholder="属性名称" width="100px"></td>
									<td><button type="button" class="btn btn-default" ng-click="deleTableRow($index)" title="删除"><i class="fa fa-trash-o"></i> 删除</button></td>
								</tr>
							</tbody>
						</table>	
           
		      		</td>
		      	</tr>	
		      	      
			 </table>				
			
		</div>
		<div class="modal-footer">						
			<button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="save()">保存</button>
			<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
		</div>
	  </div>
	</div>
</div>
    
</body>

</html>